@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 4%;
    --foreground: 0 0% 100%;
    --card: 0 0% 13%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 13%;
    --popover-foreground: 0 0% 100%;
    --primary: 160 84% 39%;
    --primary-foreground: 0 0% 4%;
    --secondary: 0 0% 17%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 17%;
    --muted-foreground: 0 0% 70%;
    --accent: 160 84% 39%;
    --accent-foreground: 0 0% 4%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 93%;
    --border: 0 0% 18%;
    --input: 0 0% 18%;
    --ring: 160 84% 39%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
